<h1>Create a New Resource</h1>

<form action="/resources" method="POST">
    <label>Name:</label>
  <br></br>
    <input id="resource_name" type="text" name="name">
  <br></br>
    <label>Category:</label>
  <br></br> 
    <input id= "resource_category" type="text" name="category">
  <br></br>
    <label>Link:</label>
  <br></br> 
    <input id= "resource_link" type="text" name="link">
  <br></br>
    <label>Source:</label>
  <br></br> 
    <input id= "resource_source" type="text" name="source">
  <br></br>
    <label>Cost:</label>
  <br></br> 
    <input id= "resource_cost" type="text" name="cost">
  <br></br>
    <label>Notes:</label>
  <br></br> 
    <input id= "resource_notes" type="text" name="notes">
  <br></br>   
    <input type="submit" value="Create New Resource">
</form>